html {
    height: 100%
}

body {
    margin: 2%;
}

header {
    background-color: rgb(35, 129, 211);
    background-image: url("/flywheel.jpg");
    background-size: cover;
    /* padding: 1%; */
    border: 2px solid red;
    height: 200px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 160%;
}

nav {
    /* border: 2px solid white; */
    margin-top: 30px;
    margin-bottom: 10px;
    height: 25%;
}

nav a {
    background-color: rgba(255, 255, 255, 0.486);
    -webkit-border-radius: 5px;
    display: inline-block;
    width: 10%;
    height: 100%;
    line-height: 47px;
    margin-left: 160px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.active{
    background-color: white;
}


aside,
section {
    display: inline-block;
    float: left;
    height: 800px;
}

aside {
    display: inline-block;
    background-color: green;
    width: 20%;

}

section {
    width: 74.5%;
    /* border: 2px solid red; */
    padding-left: 5px;
    font-size: large;
}

aside a {
    display: block;
    width: 70%;
    margin: 15px ;
    margin-top: 30px;
    margin-left: 25px;
    /* align-self: center; */
}

img {
    width: 100%;
    display: block;
    border: 2px solid black;

}